*.mod
*.o
mod_run
output
basic_run
fort.*
gscript
*dSYM
*pyc
*pycache*
testing_environment
test*
target_images
target_html_table_generator
target_images-working
*.orig
*.sw?
pretty_picture
test2.txt
get_fit_and_process
sdssid.txt
temp.txt
env
temp
input/test
input/1.txt
input/5.txt
input/h.txt
nohup*
a.*
a_*
just_in_case
