
<!DOCTYPE html>
<html>
    <head>
        <title>{{ galaxyName }}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    </head>
    <body>
        <p> Image Loc = {{ imgLoc }} </p>
        <img src= "/static/{{ imgLoc }}" alt="Failed image load for: " {{ imgName }} style="width:300px;height:200px">
        <p>-	 	sdss name:  {{ sdss }} </p>
        <p>-	 	gen#:  {{ genNumber }} </p>
        <p>- 		run#:  {{ runNumber }} </p>
        <p>- 		human score:  {{ humanScore }} </p> <br/>

		<div>
		  <form method="post" action="/" name="runButton">
			<input type="Submit" value="Jumbled" name={{ runNumber }} />
			<input type="Submit" value="Disk" name={{ runNumber }} />
			<input type="Submit" value="Normal" name={{ runNumber }} />
		</div>
  
	<p> <br/> </p>
	<p> <br/> </p>
	<p> <br/> </p>
    </body>
</html>
